.some-page-wrapper {
    margin: 15px;

  }
  
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
  
  .left-column {
   
    height: 100px;
  }
  
  .right-column {
  
    height: 100px;
  }
  