body {
  margin: 0;
  background-color: #FBF8F6;
  font-family:"arial";
}
.hearder h2 {
  display: flex;
  justify-content: center;
  margin-top : 55px;
}
.containerConnexion {
  display: flex;
  justify-content: center;
  margin: 4rem auto; 
  width: 80%;
  
}
.box-left {
  height: 550px;
  width: 550px;
  padding: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.box-right {
  background-color:#d6c4b8;
  height: 550px;
  width: 550px;
  padding: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.box-right em {
  padding: 22px;
  color : #9D5D35;
}
.left-titre, .right-titre{
  width: 550px;
}
.logoTitre{
  font-family: "Stint Ultra Expanded regular medium bold xbold";
  font-weight: 400;
  font-size: 22px;
  color : #9D5D35;
}
.nouveauCompte,.monCompte
{
  text-align: center;
}
ul.listePrivileges {
 list-style-type:square;
  line-height: 300%;
}
ul.listePrivileges li::before {
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}
li::marker{
  color : #9D5D35;
}