body{
    background-color:#FBF8F6;
    
}

h1{
color: black;
}
main{
   background:  #D6C4B0;
   margin-left: 100px;
   margin-right:300px ;
   margin-bottom: 20px;
   padding-top: 5px; 
   padding-left: 10px;
   padding-right: 10px;
   padding-bottom: 10px;
  
}
form div + div {
margin-top: 2em;
}

label {
display: inline-block;
width: 300px;
margin-left: 100px;
margin-right:100px ;

}

input, textarea {

font: 1em sans-serif;

width: 300px;
box-sizing: border-box;

border: 1px solid #D6C4B0;
background-color: #D6C4B0;
border-radius: 5px;
}
input:focus, textarea:focus {

border-color: #ad290b;
margin-left: 100px;
margin-right:100px ;
}

textarea {
vertical-align: top;

height: 5em;

}

.button {
padding-left: 0px; 
}
button {

margin-left: 0em;
color:#9D5D35 ;
background-color: #D6C4B0;
border-color: #D6C4B0;
margin-left: 100px;
margin-right:100px ;
}