body {
    background-color: #FBF8F6;
    font-family: "arial";

}

h1 {
    color: black;
    text-align: center;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10% 0 10%;
}



.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.left-column {

    height: 400px;
    width: 550px;
    box-shadow: 5px 5px 5px rgb(99, 97, 97);

}

.right-column {
    height: 304px;
    width: 550px;
    background-color: #d6c4b8;
    box-shadow: 5px 5px 5px rgb(99, 97, 97);

}

