h2,h3{
    text-align: center;}
    input[type=search]{
        width: 100%;
        padding: 12px 0px;
        border: 0px solid #ccc;
        border-radius: 50px;
        resize: vertical;
    }
input[type=text],input[type=password],select,input[type=date],textarea
{
    width: 100%;
    padding: 12px 0px;
    border: 1px solid #ccc;
    border-radius: 50px;
    resize: vertical;
}
input[type=submit] {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    margin: 20px 90px 20px 100px;
}
input[type=submit]:hover {
    background-color: #9D5D35;
}
.Connexion,.Information,.Adresse{
    
    box-shadow: 5px 5px 5px rgb(99, 97, 97);
        
    margin: 0px  40% 0 40%;
}
.buton
{
    text-align: center;
}