
@import url('https://fonts.googleapis.com/css2?family=Stint+Ultra+Expanded&display=swap');

* {
  font-family: "Stint,"Helvetica Neue,Helvetica,Arial";
}
body {
    margin: 0;
    background-color: #FBF8F6;
    font-family:"arial";
    align-items: center;
   
   
  }
   h2, h3{
    align-items: center;
  }
  /* .Connexion {
     
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

  } */
  