body {
  margin: 0;
}
#navp {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
#navp,
#headMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f5f1ee;
}
#headMenu {
  margin: 0;
  padding: 0;
}
#headMenu > li {
  list-style: none;
  margin: 0.5rem;
}

img {
  height: 140px;
  width: 200px;
}
#headMenu a {
  font-family: "montserrat", Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-weight: 500;
  font-size: large;
  color: black;
}
#headMenu a:hover {
  color: #9d5d35;
}
